<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <title></title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link href="/css/dropify.min.css" rel="stylesheet" />
    <link href="/css/daterangepicker.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
    <!-- Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>

<body>
    <!-- Wrapper -->

    <div class="aksa-wrapper" data-layout="vertical" data-layout-style="default" data-menu="light" data-footer="simple">
        <header>
            <nav class="hk-navbar navbar navbar-expand-xl navbar-light fixed-top">
                <div class="container-fluid">
                    <!-- Start Nav -->
                    <div class="nav-start-wrap">
                        <!-- <button
                            class="btn btn-icon btn-rounded btn-flush-dark flush-soft-hover navbar-toggle d-xl-none"><span
                                class="icon"><span class="feather-icon"><i
                                        data-feather="align-left"></i></span></span></button> -->
                                        <p>Total Wallet : {{totalBalance}}</p>
                    </div>
                    <!-- /Start Nav -->
                     
                    <!-- End Nav -->
                    <div class="nav-end-wrap">
                        <ul class="navbar-nav flex-row">
                            <li class="nav-item">
                                <div class="dropdown ps-2">
                                    <a class=" dropdown-toggle no-caret" href="#" role="button" data-bs-display="static"
                                        data-bs-toggle="dropdown" data-dropdown-animation data-bs-auto-close="outside"
                                        aria-expanded="false">
                                        <div class="avatar avatar-primary avatar-rounded avatar-xs">
                                            <span class="initial-wrap">MI</span>
                                        </div>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-end">
                                        <div class="p-2">
                                            <div class="media">
                                                <div class="media-head me-2">
                                                    <div class="avatar avatar-primary avatar-sm avatar-rounded">
                                                        <span class="initial-wrap">MI</span>
                                                    </div>
                                                </div>
                                                <div class="media-body">
                                                    <div class="dropdown">
                                                        <a href="#" class="d-block dropdown-toggle link-dark fw-medium"
                                                            data-bs-toggle="dropdown" data-dropdown-animation
                                                            data-bs-auto-close="inside">{{user.Admin_name}}</a>
                                                    </div>
                                                    <div class="fs-7">{{user.Email_id}}</div>
                                                    <a href="/logout" class="d-block fs-8 link-secondary"><u>Sign
                                                            Out</u></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Help & Support</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>