{{>header user=user totalBalance=totalBalance}}

{{>verticalnav user=user}}

<div class="hk-pg-wrapper">
    <div class="container-xxl">
        <header class="invoice-header">
            <div class="d-flex align-items-center">
                <a class="invoiceapp-title link-dark" data-bs-toggle="dropdown" href="#" role="button"
                    aria-haspopup="true" aria-expanded="false">
                    <h1>Project Transaction</h1>

                    {{#if error}}
                        {{#each error}}
                            <div class="alert alert-danger" role="alert">
                                {{this}}
                            </div>
                        {{/each}}
                    {{/if}}

                    {{#if success}}
                        {{#each success}}
                            <div class="alert alert-success" role="alert">
                                {{this}}
                            </div>
                        {{/each}}
                    {{/if}}

                    <script>
                        window.setTimeout(function () {
                            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                                $(this).remove();
                            });
                        }, 3000);
                    </script>
                </a>
            </div>
        </header>
        <br>
        <form id="deptForm" action="/project-transaction" method="post">

             <!-- Project Name -->
             <div class="mb-3">
                <label for="project_name" class="form-label">Project Name</label>
                <input type="text" class="form-control" id="project_name" name="project_name" required>
            </div>

            <!-- Department To -->
            <div class="mb-3">
                <label for="dept_to" class="form-label">Department</label>
                <select class="form-select" id="dept_to" name="dept_to" required>
                    <option value="" disabled selected>Select Department</option>
                    <option value="Software Development">Software Development</option>
                    <option value="Website Development">Website Development</option>
                    <option value="E-commerce Development">E-commerce Development</option>
                    <option value="Mobile Development">Mobile Development</option>
                </select>
            </div>

            <!-- Purpose -->
            <div class="mb-3">
                <label for="purpose" class="form-label">Purpose</label>
                <input type="text" class="form-control" id="purpose" name="purpose" required>
            </div>

            <!-- amount -->
            <div class="mb-3">
                <label for="amount" class="form-label">Amount</label>
                <input type="number" class="form-control" id="amount" name="amount" required>
            </div>

            <!-- Transaction Date -->
            <div class="mb-3">
                <label for="transaction_date" class="form-label">transaction date</label>
                <input type="date" class="form-control" id="transaction_date" name="transaction_date" required>
            </div>

            <!-- Submit Button -->
            <button type="submit" class="btn btn-primary mt-3">Submit</button>
        </form>
    </div>
</div>

{{>footer}}
