{{>header user=user totalBalance=totalBalance}}

{{>headverticalnav user=user}}

<div class="hk-pg-wrapper">
    <div class="container-xxl">
        <header class="invoice-header">
            <div class="d-flex align-items-center">
                <a class="invoiceapp-title link-dark" data-bs-toggle="dropdown" href="#" role="button"
                    aria-haspopup="true" aria-expanded="false">
                    <h1>Salary Transaction</h1>

                    {{#if error}}
                        {{#each error}}
                            <div class="alert alert-danger" role="alert">
                                {{this}}
                            </div>
                        {{/each}}
                    {{/if}}

                    {{#if success}}
                        {{#each success}}
                            <div class="alert alert-success" role="alert">
                                {{this}}
                            </div>
                        {{/each}}
                    {{/if}}

                    <script>
                        window.setTimeout(function () {
                            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                                $(this).remove();
                            });
                        }, 3000);
                    </script>
                </a>
            </div>
        </header>
        <br>
        <form id="deptForm" action="/salary-transaction" method="post">


            <!-- Department -->
            <div class="mb-3">
                <label for="dept" class="form-label">Department</label>
                <select class="form-select" id="dept" name="dept" required>
                    <option value="" disabled selected>Select Department</option>
                    <option value="Software Development">Software Development</option>
                    <option value="Website Development">Website Development</option>
                    <option value="E-commerce Development">E-commerce Development</option>
                    <option value="Mobile Development">Mobile Development</option>
                    <option value="Sales">Sales</option>
                </select>
            </div>

            <!-- department head name -->
            <div class="mb-3">
                <label for="dept_head_name" class="form-label">Dept. Head Name</label>
                <input type="text" class="form-control" id="dept_head_name" name="dept_head_name" required>
            </div>

            <!-- employee name -->
            <div class="mb-3">
                <label for="employee" class="form-label">Employee Name</label>
                <input type="text" class="form-control" id="employee" name="employee" required>
            </div>

            <!-- Salary Amount -->
            <div class="mb-3">
                <label for="salary" class="form-label">Salary Amount</label>
                <input type="number" class="form-control" id="salary" name="salary" required>
            </div>

             <!-- Salary Date -->
             <div class="mb-3">
                <label for="salary_date" class="form-label">Salary Date</label>
                <input type="date" class="form-control" id="salary_date" name="salary_date" required>
            </div>

            <!-- Submit Button -->
            <button type="submit" class="btn btn-primary mt-3">Submit</button>
        </form>
    </div>
</div>

{{>footer}}
